<launch>

  <node name="auto_dock" pkg="rr_auto_dock" type="auto_dock_mock.py" output="screen">
    <param name="cmd_vel_angular_rate" value="1.0" />
    <param name="cmd_vel_linear_rate" value="0.1" />
    <param name="undock_distance" value="1.1" />
    <param name="turn_radians" value="0.2" />
    <param name="approach_angle" value="0.1" />
    <param name="approach_radius" value="2.0" />
    <param name="aruco_callback_counter_max" value="5" />
    <param name="max_centering_count" value="50" />
    <param name="jog_distance" value="0.2" />
    <param name="final_approach_distance" value="0.8" />
    <param name="in_range_wait_time" value="8" />
    <param name="open_loop_correction" value="0.6" />
  </node>

  <include file="$(find rr_auto_dock)/launch/aruco_detect.launch">
  </include>

  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="enable_infra1" value="false"/>
    <arg name="enable_infra2" value="false"/>
    <arg name="color_width" default="1920"/>
    <arg name="color_height" default="1080"/>
    <arg name="color_fps" default="6"/>
  </include>

  <include file="$(find rr_openrover_basic)/launch/teleop.launch">
  </include>

  <include file="$(find wibotic_connector_can)/launch/wibotic_connector_can.launch">
  </include>

</launch>