<launch>

  <!-- currently these parameters are tuned for rover zero -->

  <node name="auto_dock" pkg="rr_auto_dock" type="auto_dock.py" output="screen">
    <param name="cmd_vel_angular_rate" value="0.3" />
    <param name="cmd_vel_linear_rate" value="0.1" />
    <param name="undock_distance" value="1.1" />
    <param name="turn_radians" value="0.2" />
    <param name="approach_angle" value="0.1" />
    <param name="approach_radius" value="2.0" />
    <param name="aruco_callback_counter_max" value="5" />
    <param name="max_centering_count" value="50" />
    <param name="jog_distance" value="0.2" />
    <param name="final_approach_distance" value="0.8" />
    <param name="in_range_wait_time" value="8" />
    <param name="linear_correction" value="0.6" />
    <param name="angular_correction" value="0.94" />
  </node>

  <include file="$(find rr_auto_dock)/launch/aruco_detect.launch">
  </include>

  <include file="$(find realsense2_camera)/launch/rs_d435_camera_with_model.launch">
  </include>

  <include file="$(find rr_rover_zero_driver)/launch/teleop.launch">
  </include>

  <include file="$(find wibotic_connector_can)/launch/wibotic_connector_can.launch">
  </include>

</launch>